@font-face {
  font-family:raphaelicons;
  src:url('../font/raphaelicons-webfont.woff');
}
.list {
  border:1px solid #d8d8d8;
  margin-bottom:20px;
  position:relative;
}
.list .list_head {
  border-bottom:1px solid #cccccc;
  padding:0 5px;
  height:32px;
  line-height:30px;
  font-size:13px;
  color:#666666;
  background-color:whitesmoke;
  text-shadow:0 1px 0 rgba(255,255,255,1);
}
.list .list_head img.avatar {
  vertical-align:top;
  margin:4px 0 0 0;
}
.list .list_head .actions { float:right; }
.list .list_head .actions > a {
  margin:0 0 0 5px;
  padding:0 5px 0 0;
  border-right:1px solid #cccccc;
}
.list .list_head.diff-range {
  padding-top:5px;
  display:none;
  background-color:#ececec;
}
.list .list_head.diff-range.displayed { display:block; }
.list .list_head.diff-range select { width:350px; }
.list .list_head.scroll {
  position:absolute;
  top:0;
  width:1008px;
  border-color:#cccccc;
  border-style:solid;
  border-width:0 1px 1px 0;
}
.list .list_head.scroll.fixed {
  position:fixed;
  top:0;
  z-index:1;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.1);
  -moz-box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.list .list_head span.title {
  color:#666666;
  font-weight:bold;
}
.list .list_head span.title+span { padding-right:20px; }
.list .list_head ul.dropdown-status { margin:2px 0 0 5px; }
.list .list_head ul.dropdown-status .dropdown-toggle { line-height:30px; }
.list .list_head ul.dropdown-status .ricon {
  color:#ffffff;
  margin:0;
}
.list .list_head .ricon {
  font-size:30px;
  color:#aaaaaa;
  margin-right:5px;
}
.list .list_head .ricon.toggle-diff-range { font-size:20px; }
.list .list_head .status { margin-right:5px; }
.list .list_head .status > a {
  display:inline-block;
  width:23px;
  height:23px;
  text-align:left;
  text-indent:-9999px;
  margin-top:4px;
}
.list .list_head .status > a.status-valid { background:url('../images/accept.gif') 0 0 no-repeat; }
.list .list_head .status > a.status-invalid { background:url('../images/cancel.gif') 0 0 no-repeat; }
.list .list_body.scrollable {
  max-height:228px;
  overflow-y:scroll;
}
.list .list_body table {
  width:100%;
  color:#4183c4;
}
.list .list_body table h3 {
  display:inline-block;
  font-family:'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  color:#666666;
}
.list .list_body table h3 a { color:#4183c4; }
.list .list_body table tr {
  vertical-align:middle;
  border-bottom:1px solid #ebebeb;
  line-height:24px;
}
.list .list_body table tr.no-border { border:none; }
.list .list_body table tr:nth-child(odd) { background-color:white; }
.list .list_body table tr:hover { background-color:#ffffcc; }
.list .list_body table tr.path_directory {
  color:#666666;
  background-color:#ebebeb;
}
.list .list_body table tr.path_directory:hover { background-color:#ebebeb; }
.list .list_body table tr.done { opacity:0.4; }
.list .list_body table tr td { padding:3px 5px; }
.list .list_body table tr td.padding-left { padding-left:10px; }
.list .list_body table tr td.padding-right { padding-right:10px; }
.list .list_body table tr td.state {
  background-color:#f5f5f5;
  line-height:24px;
  padding-left:0;
  padding-right:0;
  width:22px;
  font-size:20px;
  text-align:center;
}
.list .list_body table tr td.state.state_A, .list .list_body table tr td.state.state_M, .list .list_body table tr td.state.state_D { color:#aaaaaa; }
.list .list_body table tr td.status {
  width:25px;
  line-height:24px;
  padding:0 10px;
  text-align:center;
}
.list .list_body table tr td.status > a {
  display:inline-block;
  width:23px;
  height:23px;
  text-align:left;
  text-indent:-9999px;
}
.list .list_body table tr td.status > a.status-valid { background:url('../images/accept.gif') 0 0 no-repeat; }
.list .list_body table tr td.status > a.status-invalid { background:url('../images/cancel.gif') 0 0 no-repeat; }
.list .list_body table tr td.status > a.status-blacklist { background:url('../images/stop.gif') 0 0 no-repeat; }
.list .list_body table tr td.status.minified { width:75px; }
.list .list_body table tr td span.commit_desc {
  color:#666666;
  text-align:left;
  font-size:13px;
  font-weight:normal;
}
.list .list_body table tr td.repository_infos {
  color:#777777;
  text-align:center;
  font-size:11px;
  width:26px;
  background-color:#f5f5f5;
  border-right:1px solid #cccccc;
}
.list .list_body table tr td.file_infos {
  color:#777777;
  text-align:center;
  font-size:11px;
  background-color:#f5f5f5;
  width:48px;
}
.list .list_body table tr td.file_infos span {
  display:inline-block;
  line-height:12px;
  width:34px;
  font-weight:bold;
  background-color:white;
  border:1px solid #cccccc;
  box-shadow:0 0 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.2);
  padding:2px 5px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.list .list_body table tr td.file_infos span.added { color:#73ab00; }
.list .list_body table tr td.file_infos span.modified { color:#4183c4; }
.list .list_body table tr td.file_infos span.deleted { color:#c20000; }
.list .list_body table tr td.branch_infos {
  color:#777777;
  text-align:right;
  font-size:11px;
  background-color:#f5f5f5;
  width:200px;
  padding-right:10px;
}
.list .list_body table tr td.branch_infos span {
  display:inline-block;
  text-align:center;
  line-height:12px;
  width:34px;
  font-weight:bold;
  background-color:white;
  border:1px solid #cccccc;
  box-shadow:0 0 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.2);
  padding:2px 5px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.list .list_body table tr td.branch_infos span.added { color:#73ab00; }
.list .list_body table tr td.branch_infos span.modified { color:#4183c4; }
.list .list_body table tr td.branch_infos span.deleted { color:#c20000; }
.list .list_body table tr td.branch_ago {
  color:#999999;
  font-size:11px;
  text-align:right;
  padding-right:8px;
}
.list .list_body table tr td.view_infos { text-align:right; }
.list .list_body table tr td.view_infos .ricon { color:#666666; }
.list .list_body table tr td.view_infos .ricon0 { color:#cccccc; }
.list .list_body table tr td.file_name .ricon {
  color:#44aa33;
  font-size:21px;
  margin-right:3px;
}
.list .list_body table tr td.file_name .ricon.binary { color:#999999; }
.list .list_body table tr td.branch_name { white-space:nowrap; }
.list .list_body table tr td.branch_name .new {
  background-color:#4183c4;
  color:#ffffff;
  padding:3px 7px;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}
.list .list_footer {
  background-color:whitesmoke;
  color:#666666;
  font-size:13px;
  height:32px;
  line-height:30px;
  padding:0 5px;
  text-align:center;
}
.list .list_footer a { color:#4183c4; }
.list #log td { color:#666666; }
.list #log td.code { cursor:help; }
.list #log td.date {
  color:#999999;
  width:130px;
}
.list #log tr.error .command, .list #log tr.error .date { background-color:#ffccdd; }
.list #log tr.error .code {
  color:#e42222;
  font-weight:bold;
}
.list #file_list h3 {
  font-weight:normal;
  font-size:12px;
}
.list.notifier .status_info {
  line-height:25px;
  background-color:whiteSmoke;
  border-right:1px solid #eeeeee;
}
.list.notifier .status_info a { font-weight:bold; }
.list.notifier .status_info .date {
  font-size:11px;
  color:#999999;
  white-space:nowrap;
}
.list.notifier .status_content { line-height:25px; }
.list.notifier .status_content .message { color:#666666; }
.list.notifier .status_content .path {
  font-family:'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size:11px;
  color:#666666;
}
.list.notifier .status_content .path a { color:#4183c4; }
.list .dropdown-status { font-size:30px; }
.list .dropdown-status a { text-decoration:none; }
.list .dropdown-status li.dropdown {
  width:30px;
  text-align:center;
}
.list .dropdown-status li.dropdown .dropdown-toggle.ricon.invalidate { color:#ff686e; }
.list .dropdown-status li.dropdown .dropdown-toggle.ricon.validate { color:#90d48b; }
.list .dropdown-status li.dropdown .dropdown-toggle.ricon.todo { color:#aaaaaa; }
.list .dropdown-status li.dropdown.open {
  color:white;
  background-color:#666666;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
.list .dropdown-status li.dropdown.open .dropdown-toggle.ricon { color:white; }
.list .dropdown-status li.dropdown .ricon {
  font-size:30px;
  line-height:30px;
}
.list .dropdown-status li.dropdown .ricon.todo { font-size:20px; }
.list .dropdown-status li.dropdown.open {
  color:white;
  background-color:#666666;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
.list .dropdown-status li.dropdown.open .dropdown-toggle { color:white; }
.list .dropdown-status li.dropdown .dropdown-toggle { color:#666666; }
.list .dropdown-status li.dropdown ul.dropdown-menu {
  color:white;
  background-color:#666666;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow:2px 5px 10px rgba(0,0,0,0.4);
  -moz-box-shadow:2px 5px 10px rgba(0,0,0,0.4);
}
.list .dropdown-status li.dropdown ul.dropdown-menu li { cursor:pointer; }
.comment_bloc, .comments_holder {
  overflow:auto;
  padding:10px;
  background-color:#fffff0 !important;
  font-style:normal;
  color:#555555;
}
.comment_bloc .comment_form textarea, .comments_holder .comment_form textarea {
  display:block;
  width:100%;
  margin:auto;
  margin-bottom:10px;
  border:1px solid #dedede;
}
.comment_bloc .comment_form ul, .comments_holder .comment_form ul { margin-left:10px; }
.comment_bloc .comment_form button.close, .comments_holder .comment_form button.close { margin-left:0; }
.comment_bloc .comment_form button.right, .comments_holder .comment_form button.right { margin-right:0; }
.comment_bloc .comment_form .markdown, .comments_holder .comment_form .markdown {
  color:#999999;
  margin-left:310px;
}
.comment_bloc .comment_form#commentGlobal .markdown, .comments_holder .comment_form#commentGlobal .markdown { margin-left:461px; }
.comment_bloc .comment, .comments_holder .comment {
  display:block;
  border:1px solid #cccccc;
  margin-bottom:10px;
}
.comment_bloc .comment.done, .comments_holder .comment.done { opacity:0.4; }
.comment_bloc .comment .comment_user, .comments_holder .comment .comment_user {
  height:33px;
  line-height:26px;
  padding:0 6px;
  border-bottom:1px solid #cccccc;
  background-color:#d7e5dd;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#e7f5ed),to(#d7e5dd));
  background-image:-moz-linear-gradient(#e7f5ed,#d7e5dd);
  background-image:-o-linear-gradient(#e7f5ed,#d7e5dd);
  background-image:linear-gradient(#e7f5ed,#d7e5dd);
  line-height:33px;
  font-style:normal;
  text-shadow:1px 1px 0 rgba(255,255,255,0.7);
  color:#999999;
}
.comment_bloc .comment .comment_user strong, .comments_holder .comment .comment_user strong {
  color:#333333;
  margin-right:8px;
}
.comment_bloc .comment .comment_user img.avatar, .comments_holder .comment .comment_user img.avatar {
  float:left;
  margin:4px 4px 0 0;
}
.comment_bloc .comment .comment_user button, .comments_holder .comment .comment_user button { margin:4px 0 0 0; }
.comment_bloc .comment .comment_body, .comments_holder .comment .comment_body {
  padding:6px;
  line-height:20px;
  font-style:normal;
  background:white;
}
.comment_bloc .comment .comment_body h1, .comments_holder .comment .comment_body h1 {
  font-size:1.5em;
  font-weight:bold;
}
.comment_bloc .comment .comment_body h2, .comments_holder .comment .comment_body h2 {
  font-size:1.2em;
  text-transform:none;
  color:#555555;
}
.comment_bloc .comment .comment_body ul li, .comments_holder .comment .comment_body ul li {
  list-style-position:inside;
  list-style-type:disc;
}
.comment_bloc .comment .comment_body ul li ul, .comments_holder .comment .comment_body ul li ul { margin-left:25px; }
.comment_bloc .comment .comment_body ol li, .comments_holder .comment .comment_body ol li {
  list-style-position:inside;
  list-style-type:decimal;
}
.comment_bloc .comment .comment_body ol li ul, .comments_holder .comment .comment_body ol li ul { margin-left:25px; }
.comment_bloc .comment .comment_body pre, .comments_holder .comment .comment_body pre {
  background-color:#eeeeee;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  color:#333333;
  font-family:monospace;
  margin:8px 5px;
  padding:8px;
}
.comment_bloc .comment .comment_body code, .comments_holder .comment .comment_body code {
  background-color:#eeeeee;
  color:#333333;
  font-family:monospace;
  padding:2px 3px;
}
.comment_bloc .comment .comment_body em, .comments_holder .comment .comment_body em {
  color:#666666;
  font-style:italic;
}
.comment_bloc .comment .comment_body a, .comments_holder .comment .comment_body a { color:#4183c4; }
.list_body.data {
  border-bottom:1px solid #cccccc;
  overflow:auto;
  margin-top:33px;
}
.list_body.data table tr {
  border:0px;
  line-height:12px;
}
.list_body.data table tr:hover .add_bubble {
  opacity:1.0;
  filter:alpha(opacity=100);
}
.list_body.data table .line {
  background-color:#fffaf0;
  line-height:11px;
}
.list_body.data table .line.added { background-color:#ddffdd; }
.list_body.data table .line.deleted { background-color:#ffdddd; }
.list_body.data table .line pre {
  font-size:12px;
  font-family:'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  color:#333333;
}
.list_body.data table .line .add_bubble {
  position:absolute;
  left:-22px;
  width:30px;
  height:14px;
  margin-left:-10px;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
  transition:opacity .3s ease-out;
  -webkit-transition:opacity .3s ease-out;
  -moz-transition:opacity .3s ease-out;
}
.list_body.data table .line_numbers {
  background-color:#ececec;
  color:#aaaaaa;
  border-right:1px solid #dddddd;
  text-align:right;
  font-size:13px;
  min-width:26px;
  padding:0 4px;
  cursor:default;
}
.list_body.data table .line_numbers:hover { color:#999999; }
.list_body.data table .comment_count {
  overflow:hidden;
  padding:0 !important;
  background-color:#ffffd0;
  border:1px solid #dddddd;
  border-left:0px;
  border-right:0px;
  vertical-align:top;
  text-align:center;
}
.list_body.data table .line_comment {
  overflow:auto;
  padding:0;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #dddddd;
  border-left:1px solid #dddddd;
  background-color:#fffff6 !important;
  font-size:12px;
}
.list_body.data table .line_comment .clipper { width:925px; }
.list_body.data .imageDiff {
  float:left;
  margin:20px;
  width:46%;
}
.list_body.data .imageDiff img {
  border:1px solid #ff99aa;
  max-width:100%;
}
.form {
  display:inline-block;
  width:auto;
  font-size:13px;
  border:1px solid #d8d8d8;
  margin-bottom:20px;
}
.form .form_head {
  border-bottom:1px solid #cccccc;
  padding:0 5px;
  height:30px;
  line-height:30px;
  font-size:13px;
  color:#999999;
  background-color:#ececec;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));
  background-image:-moz-linear-gradient(#f4f4f4,#ececec);
  background-image:-o-linear-gradient(#f4f4f4,#ececec);
  background-image:linear-gradient(#f4f4f4,#ececec);
  text-shadow:0 1px 0 rgba(255,255,255,1);
  overflow:hidden;
}
.form .form_head span.title {
  color:#666666;
  font-weight:bold;
}
.form .form_body { margin:0 5px; }
.form .form_body .flashMessage { margin:10px 0 0 0; }
.form input, .form textarea, .form select {
  width:270px;
  height:20px;
  line-height:20px;
  margin:0px;
  border:1px solid #cdcdcd;
  font-size:13px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.form input :disabled, .form textarea :disabled, .form select :disabled {
  background:#dddddd;
  text-shadow:1px 1px 0 #ffffff;
}
.form textarea { min-height:60px; }
.form select {
  width:234px;
  height:23px;
  line-height:23px;
  background:#ffffff;
  max-width:234px;
}
.form select[multiple="multiple"] { height:auto; }
.form input {
  padding:0px 6px;
  margin:0px;
  background-color:white;
}
.form input[type="checkbox"], .form input[type="radio"] {
  width:auto;
  height:auto;
  margin-right:3px;
  margin-top:3px;
  border:none !important;
}
.form input[type="submit"], .form input.inputSubmit {
  width:auto;
  height:26px;
  text-align:left;
  cursor:pointer;
  padding:4px 6px;
  border:1px solid #cdcdcd;
}
.form a.img, .form a.icon {
  float:right;
  margin-top:7px;
}
.form label { float:left; }
.form .fieldBloc {
  clear:both;
  overflow:auto;
  margin:0;
  padding:0;
  padding-top:14px;
}
.form .fieldBloc label, .form .fieldBloc span.label {
  width:200px;
  margin-right:14px;
  text-align:right;
  line-height:20px;
}
.form .fieldBloc .fieldGroup {
  float:left;
  min-width:270px;
  margin:0;
  padding:0;
}
.form .fieldBlocStep { padding:6px 0px; }
.form .fieldBlocStep label {
  display:inline;
  margin-right:14px;
  line-height:22px;
}
.form .fieldBlocStep .fieldGroup {
  float:left;
  margin:0;
  padding:0;
}
.form .fieldBlocStep .info_error { margin-top:6px; }
.form .form_footer {
  clear:both;
  padding:14px 6px 7px 6px;
  text-align:right;
}
.form .form_footer .form_cancel {
  position:absolute;
  left:14px;
  bottom:14px;
}
.form .form_footer button { margin-left:20px; }
.form .info_error {
  display:block;
  margin-top:4px;
  width:270px;
}
.form .info_error .content {
  font-size:11px;
  margin-left:4px;
  line-height:11px;
  color:#ff0000;
}
.fieldGroup.radio input, .fieldGroup.checkbox input {
  float:left;
  margin-top:4px;
  margin-right:8px;
}
.fieldGroup.radio label, .fieldGroup.checkbox label { width:auto; }
#formLogin {
  display:block;
  margin:0 auto;
  width:450px;
}
#formLogin label { width:100px; }
button {
  position:relative;
  overflow:visible;
  display:inline-block;
  padding:0.5em 1em;
  border:1px solid #d4d4d4;
  margin:0;
  text-decoration:none;
  text-shadow:1px 1px 0 #ffffff;
  font:11px arial;
  color:#333333;
  white-space:nowrap;
  cursor:pointer;
  outline:none;
  background-color:#ececec;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));
  background-image:-moz-linear-gradient(#f4f4f4,#ececec);
  background-image:-o-linear-gradient(#f4f4f4,#ececec);
  background-image:linear-gradient(#f4f4f4,#ececec);
  border-radius:0.2em;
  -webkit-border-radius:0.2em;
  -moz-border-radius:0.2em;
  zoom:1;
  display:inline;
}
button.only-icon { padding:0.5em 0 0.5em 1em; }
button.only-icon a {
  display:inline-block;
  text-indent:-5000px;
}
button a:hover { text-decoration:none; }
button.no-marge { margin:0 !important; }
button::-moz-focus-inner {
  padding:0;
  border:0;
}
button.enabled, button:hover, button:focus, button:active, button.active {
  border-color:#3072b3;
  border-bottom-color:#2a65a0;
  text-decoration:none;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
  color:#ffffff;
  background-color:#3c8dde;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#599bdc),to(#3072b3));
  background-image:-moz-linear-gradient(#599bdc,#3072b3);
  background-image:-o-linear-gradient(#599bdc,#3072b3);
  background-image:linear-gradient(#599bdc,#3072b3);
}
button:active, button.active {
  border-color:#2a65a0;
  border-bottom-color:#3884cf;
  background-color:#3072b3;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#3072b3),to(#599bdc));
  background-image:-moz-linear-gradient(#3072b3,#599bdc);
  background-image:-o-linear-gradient(#3072b3,#599bdc);
  background-image:linear-gradient(#3072b3,#599bdc);
}
button.primary { font-weight:bold; }
button.danger { color:#990000; }
button.danger.enabled, button.danger:hover, button.danger:focus, button.danger:active {
  border-color:#b53f3a;
  border-bottom-color:#a0302a;
  color:#ffffff;
  background-color:#dc5f59;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#dc5f59),to(#b33630));
  background-image:-moz-linear-gradient(#dc5f59,#b33630);
  background-image:-o-linear-gradient(#dc5f59,#b33630);
  background-image:linear-gradient(#dc5f59,#b33630);
}
button.danger:active, button.danger.active {
  border-color:#a0302a;
  border-bottom-color:#bf4843;
  background-color:#b33630;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#b33630),to(#dc5f59));
  background-image:-moz-linear-gradient(#b33630,#dc5f59);
  background-image:-o-linear-gradient(#b33630,#dc5f59);
  background-image:linear-gradient(#b33630,#dc5f59);
}
button.success { color:#009906; }
button.success.enabled, button.success:hover, button.success:focus, button.success:active {
  border-color:#39b53b;
  border-bottom-color:#29a02b;
  color:#ffffff;
  background-color:#58dc5e;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#58dc5e),to(#2fb339));
  background-image:-moz-linear-gradient(#58dc5e,#2fb339);
  background-image:-o-linear-gradient(#58dc5e,#2fb339);
  background-image:linear-gradient(#58dc5e,#2fb339);
}
button.success:active, button.success.active {
  border-color:#29a032;
  border-bottom-color:#43bf48;
  background-color:#2fb339;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#2fb339),to(#58dc5e));
  background-image:-moz-linear-gradient(#2fb339,#58dc5e);
  background-image:-o-linear-gradient(#2fb339,#58dc5e);
  background-image:linear-gradient(#2fb339,#58dc5e);
}
button.safe.enabled, button.safe:hover, button.safe:focus, button.safe:active {
  border-color:#686868;
  border-bottom-color:#767676;
  color:#ffffff;
  background-color:#767676;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#767676),to(#9e9e9e));
  background-image:-moz-linear-gradient(#767676,#9e9e9e);
  background-image:-o-linear-gradient(#767676,#9e9e9e);
  background-image:linear-gradient(#767676,#9e9e9e);
}
button.safe:active, button.safe.active {
  border-color:#767676;
  border-bottom-color:#686868;
  background-color:#9e9e9e;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#767676),to(#767676));
  background-image:-moz-linear-gradient(#767676,#767676);
  background-image:-o-linear-gradient(#767676,#767676);
  background-image:linear-gradient(#767676,#767676);
}
.modal-bg {
  background-color:#333333;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:99;
}
.modal {
  background-color:#ffffff;
  border:4px solid #888888;
  display:blok;
  padding-bottom:15px;
  position:absolute;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  overflow:hidden;
  z-index:100;
}
.modal h2 {
  border-bottom:1px solid #eeeeee;
  font-size:16px;
  font-weight:bold;
  margin:15px 0 10px;
  padding:0 10px 10px 14px;
  text-transform:none;
  width:100%;
}
.modal h3 {
  color:#333333;
  margin-bottom:5px;
}
.modal h3.single { margin-left:17px; }
.modal .rule {
  width:100%;
  padding:0 10px;
  margin-left:-10px;
  clear:both;
  margin:15px 0;
  height:0;
  overflow:hidden;
  border:none;
  background:transparent;
  border-bottom:1px solid #dddddd;
}
.modal .mod { overflow:hidden; }
.modal .mod .col {
  float:left;
  margin:0 7px;
  overflow:hidden;
  padding:0 10px;
  width:270px;
}
.modal .mod .col p {
  color:#999999;
  margin-top:16px;
}
.modal pre {
  background-color:#eeeeee;
  border:1px solid #dddddd;
  color:#333333;
  font-family:monospace;
  margin:8px 0;
  padding:8px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.modal code {
  background-color:#eeeeee;
  color:#333333;
  font-family:monospace;
  padding:2px 3px;
}
.flashMessage {
  line-height:2em;
  padding:0 0.8em;
  margin:0 0 1em 0;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.flashMessage.warning {
  border:1px solid #fc6c06;
  background-color:#ffe4d3;
}
.flashMessage.success {
  border:1px solid #73ab00;
  background-color:#f1ffd3;
}
.flashMessage.error {
  border:1px solid #c20000;
  background-color:#ffd6d6;
}
.flashMessage.notice {
  border:1px solid #4183c4;
  background-color:#d6ebff;
}
.ricon {
  font-family:'raphaelicons';
  font-size:20px;
  text-decoration:none;
  vertical-align:bottom;
}
.vertical-text {
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  display:block;
  float:left;
}
h2 {
  color:#333333;
  font-size:16px;
  text-transform:uppercase;
  text-shadow:white 1px 1px 0px;
}
h3 {
  color:#4183c4;
  font-weight:bold;
}
a {
  color:inherit;
  text-decoration:none;
}
a:hover { text-decoration:underline; }
a.anchor {
  padding:2px;
  color:#eeeeee;
  font-size:13px;
}
a.anchor:hover {
  color:#666666;
  text-decoration:underline;
}
a.disabled {
  opacity:0.25;
  filter:alpha(opacity=25);
  transition:opacity .3s ease-out;
  -webkit-transition:opacity .3s ease-out;
  -moz-transition:opacity .3s ease-out;
}
a.disabled:hover {
  opacity:0.6;
  filter:alpha(opacity=60);
}
a.icon, span.icon {
  font-size:11px;
  font-weight:bold;
  color:#999999;
  padding-left:5px;
}
img.avatar {
  height:24px;
  vertical-align:middle;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}
.right { float:right; }
.left { float:left; }
.hidden { display:none; }
table { width:100%; }
strong { font-weight:bold; }
.dropdown { position:relative; }
.dropdown.open .dropdown-menu { display:block; }
.dropdown.open .dropdown-toggle {
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
.dropdown .dropdown-toggle { z-index:1001; }
.dropdown .dropdown-menu {
  z-index:1000;
  float:left;
  display:none;
  position:absolute;
  min-width:100%;
}
.dropdown .dropdown-menu > li {
  width:100%;
  display:block;
  white-space:nowrap;
}
html { height:100%; }
html body {
  color:#666666;
  font-size:13px;
  font-family:arial, verdana;
}
html body .header {
  font-size:11px;
  color:#333333;
  overflow:hidden;
  background-color:#f8f8f8;
  border-bottom:1px solid #e9e9e9;
  opacity:0.3;
  transition:opacity .3s linear;
  -webkit-transition:opacity .3s linear;
  -moz-transition:opacity .3s linear;
  padding:3px 0 0 5px;
}
html body .header:hover { opacity:1; }
html body .header ul#userbox {
  float:right;
  font-size:13px;
  font-weight:bold;
  color:#4183c4;
}
html body .header ul#userbox li {
  display:inline;
  padding:10px;
  line-height:27px;
}
html body .header ul#userbox li a { text-decoration:none; }
html body .header ul#userbox li.username {
  padding-left:2px;
  font-weight:bold;
  color:black;
}
html body .header ul#userbox li.username img.avatar {
  height:20px;
  border:1px solid #e1e1e1;
}
html body .header a#crew-logo { float:left; }
html body .site {
  margin:10px auto 0;
  width:1020px;
  padding:0 15px;
}
html body .site .page {
  line-height:1.4em;
  margin:0 auto 15px auto;
  position:relative;
  padding-top:32px;
}
html body .site .page .avatared {
  color:#4183c4;
  margin-bottom:10px;
  font-weight:bold;
}
html body .site .page ul.breadcrumb {
  position:absolute;
  top:0;
  z-index:1000;
  font-size:0px;
}
html body .site .page ul.breadcrumb li {
  display:inline-block;
  line-height:31px;
  font-size:13px;
  padding:0 5px;
  margin:0 5px 0 0;
  border:1px solid #cccccc;
  border-bottom:none;
  color:#999999;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
html body .site .page ul.breadcrumb li a {
  color:#4183c4;
  text-decoration:none;
}
html body .site .page ul.breadcrumb li:hover { background-color:#ffffcc; }
html body .site .page ul.breadcrumb li.selected {
  background-color:whiteSmoke;
  color:#666666;
  position:relative;
  top:1px;
}
html body .site .page ul.breadcrumb li.selected a { font-weight:bold; }
html body .site .page ul.breadcrumb li.dropdown a { display:inline-block; }
html body .site .page ul.breadcrumb li.dropdown a.dropdown-toggle {
  font-family:'raphaelicons';
  font-size:18px;
  text-decoration:none;
  color:#3072b3;
  vertical-align:bottom;
  padding:0 5px;
}
html body .site .page ul.breadcrumb li.dropdown.open .dropdown-toggle {
  background-color:#4183c4;
  color:white !important;
}
html body .site .page ul.breadcrumb li.dropdown ul.dropdown-menu {
  background-color:#4183c4;
  top:26px;
  left:-1px;
  padding:0;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow:2px 5px 10px rgba(0,0,0,0.4);
  -moz-box-shadow:2px 5px 10px rgba(0,0,0,0.4);
}
html body .site .page ul.breadcrumb li.dropdown ul.dropdown-menu > li {
  line-height:24px;
  color:white;
  border:none;
  margin:0;
  padding:0;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
html body .site .page ul.breadcrumb li.dropdown ul.dropdown-menu > li span.ricon {
  width:16px;
  display:inline-block;
  margin-left:5px;
}
html body .site .page ul.breadcrumb li.dropdown ul.dropdown-menu > li a {
  margin:0 5px;
  display:inline-block;
  width:100%;
  height:100%;
  color:white;
  font-weight:normal;
}
html body .site .page ul.breadcrumb li.dropdown ul.dropdown-menu > li:hover {
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  background-color:#63a5e6;
}
html body .site .page ul.breadcrumb li a.logo {
  display:block;
  width:21px;
  text-indent:-9999px;
  background:url("../images/logo.png") center center no-repeat transparent;
  vertical-align:bottom;
}
html body .footer { text-align:center; }
html body .footer a { color:#4183c4; }
html body .footer .logoCrew {
  display:inline-block;
  width:195px;
  padding-left:80px;
  line-height:70px;
  background:url('../images/crew-logo.png') 0 22px no-repeat;
  color:#636363;
  font-size:13px;
  opacity:0.3;
  transition:opacity .3s linear;
  -webkit-transition:opacity .3s linear;
  -moz-transition:opacity .3s linear;
}
html body .footer .logoCrew:hover { opacity:1; }
.tooltip .ui-tooltip-content {
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  background-color:#ececec;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));
  background-image:-moz-linear-gradient(#f4f4f4,#ececec);
  background-image:-o-linear-gradient(#f4f4f4,#ececec);
  background-image:linear-gradient(#f4f4f4,#ececec);
  box-shadow:2px 2px 8px rgba(0,0,0,0.2);
  -webkit-box-shadow:2px 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow:2px 2px 8px rgba(0,0,0,0.2);
  border-color:#cccccc;
  color:#666666;
  font-size:13px;
  line-height:16px;
}
.navigation_links {
  clear:both;
  overflow:auto;
}
.select2-drop .ricon { font-size:inherit; }
#sfWebDebugBar[id] {
  positino:absolute;
  bottom:0;
  right:0;
  top:auto;
}
.clickable { cursor:pointer; }
#admin_project_add { width:510px; }
