all:
  projects_repository: '/path/to/store/repo/.Crew-repositories/' # Apache must be able to write in
  sf_guard_plugin:
    profile_class:      profile
    profile_field_name: sf_guard_user_id
  notifiers:
    all:
      DatabaseNotifier:
        status:
          enabled: 1
        comment:
          enabled: 0
      CampfireNotifier:
        base-url: campfire-url
        api-token: campfire-api-token
        room-id: room-id
        status:
          enabled: 1
          file_message: "[Crew] message with %file% %branch% %old-status% %status% %author% %date%"
          branch_message: "[Crew] message with %branch% %old-status% %status% %author% %date%"
          add-links: 1
        comment:
          enabled: 0
