DatabaseNotifier:
  status:
    enabled: 1
  comment:
    enabled: 0
#----------------------------------------
CampfireNotifier:
  status:
    enabled: 0
    file_message: "[Crew] message with %file% %branch% %old-status% %status% %author% %date%"
    branch_message: "[Crew] message with %branch% %old-status% %status% %author% %date%"
    add-links: 1
  comment:
    enabled: 0
    branch_message: "[Crew] message with %branch% %message% %author% %date%"
    file_message: "[Crew] message with %file% %branch% %message% %author% %date%"
    line_message: "[Crew] message with %line% %file% %branch% %message% %author% %date%"
    add-links: 1
  review-request:
    enabled: 0
    message: "[Crew] message with %branch% and %date%"
    add-links: 1
  projects:
# Specific project ID configurations
# The values here override the ones from the global configurations below
    <your-project-id>:
      base-url: campfire-url
      api-token: campfire-api-token
      room-id: room-id
      status-type: ['branch', 'file']
      comment-type: ['branch', 'file', 'line']
    *:
      base-url: campfire-url
      api-token: campfire-api-token
      room-id: room-id
      status-type: ['branch', 'file']
      comment-type: ['branch', 'file', 'line']
#----------------------------------------
XmppNotifier:
  review-request:
    enabled: 1
    message: "New review request for branch %branch%"
    add-links: 1
  projects:
# Specific project ID configurations
# The values here override the ones from the global configurations below
    <your-project-id>:
      host: jabber
      port: 5222
      user: username
      password: password
      ressource: xmpphp
      server: jabber.yourdomain.com
      to: team-chatroom@conference.jabber.yourdomain.com
      type: groupchat
# Global project configuration
    *:
      host: jabber
      port: 5222
      user: username
      password: password
      ressource: xmpphp
      server: jabber.yourdomain.com
      to: team-chatroom@conference.jabber.yourdomain.com
      type: groupchat
#----------------------------------------
EmailNotifier:
  status:
    enabled: 0
    file_message: "[Crew] message with %file% %branch% %old-status% %status% %author% %date%"
    branch_message: "[Crew] message with %branch% %old-status% %status% %author% %date%"
    add-links: 1
  comment:
    enabled: 0
    branch_message: "[Crew] message with %branch% %message% %author% %date%"
    file_message: "[Crew] message with %file% %branch% %message% %author% %date%"
    line_message: "[Crew] message with %line% %file% %branch% %message% %author% %date%"
    add-links: 1
  review-request:
    enabled: 0
    message: "[Crew] message with %branch% and %date%"
    add-links: 1
  projects:
# Specific project ID configurations
# The values here override the ones from the global configurations below
    <your-project-id>:
      status-type: ['branch', 'file']
      comment-type: ['branch', 'file', 'line']
      group-email: username@domain.com
# Global project configuration
    *:
      status-type: ['branch', 'file']
      comment-type: ['branch', 'file', 'line']
      group-email: username@domain.com
