DatabaseNotifier:
  status:
    enabled: 1
  comment:
    enabled: 0
CampfireNotifier:
  status:
    enabled: 0
    file_message: "[Crew] message with %file% %branch% %old-status% %status% %author% %date%"
    branch_message: "[Crew] message with %branch% %old-status% %status% %author% %date%"
    add-links: 1
  comment:
    enabled: 0
    branch_message: "[Crew] message with %branch% %message% %author% %date%"
    file_message: "[Crew] message with %file% %branch% %message% %author% %date%"
    line_message: "[Crew] message with %line% %file% %branch% %message% %author% %date%"
  projects:
    your-project-id:
      base-url: campfire-url
      api-token: campfire-api-token
      room-id: room-id
      status-type: ['branch', 'file']
      comment-type: ['branch', 'file', 'line']
