<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to Crew CR !</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <script src="js/analytics.js" type="text/javascript"></script>
    <script src="js/gauge.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div id="container">
      <div class="download">
        <a class="btn btn-large btn-primary" href="http://github.com/crew-cr/Crew"><i class="icon-github"></i>View project on GitHub</a>
        <a class="btn btn-large" href="https://twitter.com/#!/code_review"><i class="icon-twitter"></i>Follow @code_review</a>
      </div>
      <h1><a href="/">Crew</a></h1>
      <div class="description">Code review tool for Git projects.</div>
      {{ content }}
    </div>
    <div id="footer">
      Theme inspired by <a href="http://kogakure.github.com/gitweb-theme/">kogakure/gitweb-theme</a>
    </div>
  </body>
</html>
